@import "./constants.css";

.chat {
    flex: 2;
}

.chat .chatInfo {
    height: 50px;
    background-color: var(--chat_header);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: lightgray;
}