@import "./constants.css";

.home {
    background-color: lightskyblue;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .container {
    border: 1px solid white;
    border-radius: 10px;
    width: 65%;
    height: 80%;
    display: flex;
    overflow: hidden;
}

.home .container .sidebar {
    flex: 1;
    border-right: 1px solid var(--sidebar_color);
    background-color: var(--sidebar_color);
}
