.formContainer {
    background-color: lightskyblue;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formContainer .formWrapper {
    background-color: white;
    padding: 20px 60px;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.formContainer .formWrapper .logo {
    color:steelblue;
    font-weight: bold;
    font-size: 24px;
}

.formContainer .formWrapper .title {
    color: steelblue;
    font-size: 12px;
}

.formContainer .formWrapper form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formContainer .formWrapper form input {
    padding: 10px;
    border: none;
    width: 250px;
    border-bottom: 1px solid lightgray;
}

.formContainer .formWrapper form input::placeholder {
    color: rgb(175, 175, 175);
}

.formContainer .formWrapper button {
    background-color: lightskyblue;
    color: white;
    padding: 10px;
    font-weight: bold;
}