.search {
    border-bottom: 1px solid lightskyblue;
}

.searchForm {
    padding: 10px;
}

.search input {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
}

.search input::placeholder {
    color: lightgray;
}